---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Comments from "@components/Comments.astro";
import type { HTMLAttributes } from "astro/types";

export async function getStaticPaths() {
	const articles = await getCollection("articles");
	return articles.map((article) => ({
		params: { slug: article.slug },
		props: article,
	}));
}
type Props = CollectionEntry<"articles">;

const article = Astro.props;
const { Content } = await article.render();

const metaAttributes: Array<HTMLAttributes<"meta">> = [
	{ name: "description", content: article.data.description },
	{ name: "keywords", content: article.data.keywords.join(", ") },
	{ name: "author", content: article.data.author },
];
---

<Layout title={article.data.title} metaAttributes={metaAttributes}>
	<Container>
		<a href="/">← Back to home</a>
		<main>
			<article>
				<header class="article-header">
					<h1>{article.data.title}</h1>
					<div class="article-date">
						<Icon name="far/clock" />
						<FormattedDate date={article.data.publicationDate} />
					</div>
				</header>
				{
					article.data.cover ? (
						<figure>
							<Image
								src={article.data.cover.image}
								alt={article.data.cover.alt}
								class="article-cover-image"
							/>
							{article.data.cover.caption ? (
								<figcaption>{article.data.cover.caption}</figcaption>
							) : null}
						</figure>
					) : null
				}
				<Content />
			</article>
		</main>

		<Comments />
	</Container>
</Layout>

<style>
	.article-header {
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
	}

	.article-header > h1 {
		margin: 0;
	}

	.article-date {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.article-cover-image {
		width: 100%;
	}
</style>
